<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="watching">
            <ion-img src="assets/watching.svg" alt="watching"></ion-img>
            <ion-label>Watching</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="search">
            <ion-img src="assets/search.svg" alt="search"></ion-img>
            <ion-label>Search</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="upcoming">
            <ion-img src="assets/upcoming.svg" alt="upcoming"></ion-img>
            <ion-label>Upcoming</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>
