<ion-header>
    <ion-toolbar>
        <ion-title>Upcoming</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-text *ngIf="watching.length===0" color="medium">
        <h2 class="ion-text-center">Added shows appear here!</h2>
    </ion-text>
    <ion-list *ngIf="watching.length!==0">
        <ion-card *ngFor="let episode of watching">
            <ion-card-header>
                <ion-card-title class="ion-text-center">{{episode.name}}</ion-card-title>
            </ion-card-header>
            <h1 class="timerOverlay">{{episode.countdown}}</h1>
            <ion-img [src]="episode.image.original"> </ion-img>
        </ion-card>
    </ion-list>
</ion-content>
